:host(){
    --dark-blue: #243356;
    --white: #ffffff;
    --yellow: #ffcd0a;
    --light-blue: #00D9FE;

}
.alarm-card{
    max-width: 440px;
    width: 100%;
    padding: 30px;
    background: var(--dark-blue);
    color: var(--white);
    border-radius: 16px;
    margin: 24px auto;
}
h1{
    color: var(--yellow);
    font-size:36px;
    text-align: center;
    font-weight: 500;
}
h2{
    font-size: 48px;
    text-align: center;
    font-weight: 500;
    color: var(--light-blue);
    margin: 30px auto;
}
button{
    background: var(--yellow);
    color: #243356;
    border-color: var(--yellow);
    font-size: 20px;
    padding: 14px;
    margin-top: 12px;
}
img{
    display: block;
    margin: 20px auto;
}

